<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal text-center >
      <div class="logo"></div>
      <h4>
        <ion-text color="light" class="fw700">
          Breast health
        </ion-text>
      </h4>
      <ion-text color="light" class="slogan">
          Beast health for all
        </ion-text>
    </div>

    <div class="button-Div">
      <ion-button class="signUpButton" color="red" (click)="goToRegister()" tappable>New member? Sign up </ion-button>
      <ion-button class="signInButton" color="red" (click)="goToLogin()" tappable> Already a member, Signin</ion-button>
    </div>
  </div>
</ion-content>