:host {
  ion-content {
    --flex-direction: column;
    --background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("/assets/backgrounds/bg (71).jpg") no-repeat center center / cover;
  }
}
.applogo {
  width: 70px;
  height: 70px;
  margin: 100px auto 8px;
  margin-top: 70%;
  border-radius: 10%;
  background: url("/assets/icon/bht.png") no-repeat;
  background-size: 100%;
}
.takeTourButton {
  background: rgba(255,255,255,0);
  border-color: rgba(250,8,120,1);
  border-radius: 0.2rem;
  border-width: 10px;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  color: rgba(255,255,255,0.75);
  text-align: middle;
  font-size: 0.6rem;
  font-weight: bold;
  font-family: Arial;
  width: 80px;
  height: calc(2.5rem + 2px);
}
.signUpButton {
  background: rgba(250,8,120,0.8);
  border-color: rgba(255,255,255,0.0);
  border-radius: 0.6rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: rgba(255,255,255,0.75);
  text-align: middle;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: Arial;
  width: 80%;
  height: calc(2.5rem + 2px);
  line-height: 0px;
  padding: 0px;
}
.signInButton {
  background: rgba(250,8,120,0.2);
  border-color: rgba(255,255,255,0.0);
  border-radius: 0.6rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: rgba(255,255,255,0.75);
  text-align: middle;
  font-size: 0.8rem;
  font-weight: bold;
  width: 80%;
  height: calc(2.5rem + 2px);
  line-height: 0px;
  padding: 0px;
}