:host {
    ion-content {
        --background: url("/assets/backgrounds/bg (21).jpg") no-repeat;
    }
}

.paz {
    position: relative;
    z-index: 10;
}
.signUpButton {
  background: rgba(250,8,120,0.8);
  border-color: rgba(255,255,255,0.0);
  border-radius: 0.8rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: rgba(255,255,255,0.75);
  text-align: middle;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: Arial;
  width: 100%;
  height: calc(2.5rem + 2px);
  line-height: 0px;
  padding: 0px;
}
.signInButton {
  background: rgba(250,8,120,0.2);
  border-color: rgba(255,255,255,0.0);
  border-radius: 0.8rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: rgba(255,255,255,0.75);
  text-align: middle;
  font-size: 0.8rem;
  font-weight: bold;
  width: 100%;
  height: calc(2.5rem + 2px);
  line-height: 0px;
  padding: 0px;
}