<ion-header>
  <ion-toolbar color="medium" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home-results"></ion-back-button>
    </ion-buttons>
    <ion-title> Second Opinion and <br> Find specialist</ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="dark" >
        <img src="assets/img/sound_icon_black.png" >                    
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content class="tipscolor" padding>
  <ion-item color="light">
    <ion-avatar slot="start">
      <img src="assets/img/avatar.jpg">
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
  </ion-item>
</ion-content>
