:host {
    *ion-content {
       --background: var(--ion-color-light);
       
    }
    
    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }

    ion-footer ion-text{
        // background: #FCFCFC;
        font-size: 11pt;
    } 

    .footer-text {
        margin-top: 2rem;
    }

    .main-card{
        // background: transparent;
        // background: rgba(252, 252, 252, 0.4px);
        --background: var(--ion-color-primary-tint);
        // border-radius: 10px;
    }
    
    .content-card{
        background: transparent;
        box-shadow: none;
        //border-radius: 10px;
    }
    
    .center-element {
        margin-left: 5rem;
        margin-right: 5rem;
    //    margin: auto;
        width: 100%;
    }
    
    .background-pink{
        width: 100%;
        height: 100%;
        --background: linear-gradient(50deg, rgb(236, 18, 189), rgb(255, 0, 98));
    }
    
    .dashboard-card {
        border-radius: 250px ;
        font-size: 11pt;
        margin: 0%;
        padding: 0.5rem;
        // width: 50%;
    }
    

    .dashboard-subtitle {
        text-transform: none;
    }
    
    
    .center-text {
        text-align: center;
    }
    
    .home-content {
        margin: 0%;
    }
    

}

