:host {
    *ion-content {
       --background: var(--ion-color-light);
       
    }
    
    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }

    ion-footer ion-text{
        // background: #FCFCFC;
        font-size: 9pt;
    } 

    .footer-text {
        margin-top: 2rem;
    }

}

.main-card{
    // background: transparent;
    // background: rgba(252, 252, 252, 0.4px);
    --background: var(--ion-color-primary-tint);
    // border-radius: 10px;
}

.content-card{
    background: transparent;
    box-shadow: none;
    //border-radius: 10px;
}

.center-element {
    margin-left: 5rem;
    margin-right: 5rem;
//    margin: auto;
    width: 100%;
}

.background-pink{
    width: 100%;
    height: 100%;
    --background: linear-gradient(50deg, rgb(236, 18, 189), rgb(255, 0, 98));
}

.dashboard-card {
    border-radius: 250px ;
    font-size: 11pt;
    margin: 0%;
    padding: 0.5rem;
    // width: 50%;
}

.dashboard-div {
    border-radius: 50% ;
    font-size: 6pt;
    font-weight: bold;
    margin: 0%;
    padding: 0.5rem;
    // background-color: #EBEBEB;
    background: var(--ion-color-primary);
    color: var(--ion-color-light);
    width: 78px;
    height: 78px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.dashboard-subtitle {
    text-transform: none;
}

.dashboard-button{
    margin-top: -1.5rem;
    margin-left: 2rem;
    /* rotate: 135deg;
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg); */
}

.center-text {
    text-align: center;
}

.home-content {
    margin: 0%;
}