<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tips"></ion-back-button>
    </ion-buttons>
    <ion-title class="center-text"> Nipples tips </ion-title>
    <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="dark" >
          <img src="assets/img/sound_icon_black.png" >                    
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-slides pager="true" class="slides" [options]="slideOpts">
    <ion-slide class="slide">
      <div >
        <h5 class="color">Nipple types</h5>
        <div class="content">
      <p>
        Nipple types: can be flat, protruding, inverted or unclassified (multiple or divided), it is possible to have one
        breast
        with one type from the other breast in the same individual.
      </p>
      <ion-avatar class="avatar">
      <ion-img src="assets/backgrounds/bg (63).jpg" alt="Nipples health tip" class=""></ion-img>
      </ion-avatar>
      </div>
        </div>
    </ion-slide>

    <ion-slide class="slide">
      <div >
        <h5 class="color">Inverted nipples</h5>
      <div class="content">
        <p>
        Inverted nipples, are sunk in, instead of protruding out, the function the same as the protruded ones and may be
        sunken
        all the time or come in and out. Breast-feeding often brings them out. 
       </p>
       <ion-avatar class="avatar">
       <ion-img src="assets/backgrounds/bg (69).jpg" alt="Nipples health tip" class=""></ion-img>
       </ion-avatar>
      </div>
    </div>
    </ion-slide>

    <ion-slide class="slide">
      <div >
    <h5 class="color">Breast-feeding mother</h5>
    <div class="content">
     <p>
         Nipple pain for a breast-feeding mother may be a sign or a result of poor positioning during breast-feeding. For women not
        breast-feeding, nipple pain may be related to your monthly period cycle, hormone changes, skin irritation, skin allergies
        or friction from a bra as may happen with sports bras.
      </p>
      <ion-avatar class="avatar3">
      <ion-img src="assets/backgrounds/bg (68).jpg" alt="Nipples health tip" class=""></ion-img>
      </ion-avatar>
      </div>
    </div>
    </ion-slide>

    <ion-slide class="slide">
        <div >
       <h5 class="color">Bumps on the areola</h5>
       <div class="content">
      <p>
        Bumps on the areola are called Montgomery glands they serve to lubricate the nipple and they are a normal part of the
        anatomy.
      </p>
      <ion-avatar class="avatar">
      <ion-img src="assets/backgrounds/areola.JPG" alt="Nipples health tip" class=""></ion-img>
      </ion-avatar>
      </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
