<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tips"></ion-back-button>
    </ion-buttons>
    <ion-title class="center-text"> Nipples tips </ion-title>
    <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="dark" >
          <img src="assets/img/sound_icon_black.png" >                    
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-slides pager="true" class="slides" [options]="slideOpts">
    <ion-slide class="slide">
      <div class="color">
        <h5>Tip 1: Nipple types</h5>
        <div class="content">
      <p>
        Nipple types: can be flat, protruding, inverted or unclassified (multiple or divided), it is possible to have one
        breast
        with one type from the other breast in the same individual.
      </p>
      <ion-img src="assets/backgrounds/bg (10).jpg" alt="Nipples health tip" class="image"></ion-img>
      </div>
        </div>
    </ion-slide>

    <ion-slide class="slide">
      <div class="color">
        <h5>Tip 2: Inverted nipples</h5>
      <div class="content">
        <p>
        Inverted nipples, are sunk in, instead of protruding out, the function the same as the protruded ones and may be
        sunken
        all the time or come in and out. Breast-feeding often brings them out. Stimulation and cold may do the same. Surgery
        can
        convert them to protrusion. Occasionally one nipple may be divided into two makes breast-feeding a challenge, as they
        may
        not fit in the little baby’s mouth. The average nipple height is about 1cm and sits in the middle or the areola or the
        areola
        (darker skin) surrounds it measuring on average 2-finger breadth in diameter.
      </p>
      </div>
    </div>
    </ion-slide>

    <ion-slide class="slide">
      <div class="color">
    <h5 >Tip 3: Breast-feeding mother</h5>
    <div class="content">
     <p>
         Nipple pain for a breast-feeding mother may be a sign or a result of poor positioning during breast-feeding. For women not
        breast-feeding, nipple pain may be related to your monthly period cycle, hormone changes, skin irritation, skin allergies
        or friction from a bra as may happen with sports bras. A nipple discharge is not normal, it should be checked by a doctor.
        Other nipple physical abnormalities: Extra nipples below the ‘main’ breast or up in the or near the armpit or the absence
        of them altogether.
      </p>
      </div>
    </div>
    </ion-slide>

    <ion-slide class="slide">
        <div class="color">
       <h5>Tip 4:Bumps on the areola</h5>
       <div class="content">
      <p>
        Bumps on the areola are called Montgomery glands they serve to lubricate the nipple and they are a normal part of the
        anatomy.
      </p>
      </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
