<ion-header>
  <ion-toolbar color="medium">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="signs-symptoms"></ion-back-button>
      </ion-buttons>
      <ion-title >
            <ion-text color="dark" class="fw500"> For non diagnosed </ion-text>
      </ion-title>
      <ion-buttons slot="end">
          <ion-button size="small" shape="round" color="dark" >
            <img src="assets/img/sound_icon_black.png" >                    
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <div *ngIf="isNonDiagonsed" > 
          <ion-row>
            <ion-button color="primary" (click)="showPremenopausal()">Premenopausal</ion-button>
          </ion-row>
          <ion-row>
            <ion-button color="secondary" (click)="showPostMenopausal()">Post-Menopausal</ion-button>
          </ion-row>
        </div>

        <div *ngIf="isPremenopausal" > 
            <ion-row>
              <ion-button color="primary" (click)="showBetween()">35 - 50 </ion-button>
            </ion-row>
            <ion-row>
              <ion-button color="secondary" (click)="showLess()">Less than 30</ion-button>
            </ion-row>
          </div>
        
        
    </ion-grid>

</ion-content>
