<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="signs-symptoms"></ion-back-button>
    </ion-buttons>
    <ion-title >
          <ion-text color="dark" class="fw500"> For children </ion-text>
    </ion-title>
    <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="dark" >
          <img src="assets/img/sound_icon_black.png" >                    
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
      <!-- Colors -->
  <ion-grid>
    <div *ngIf="isChildren" > 
      <ion-row>
        <ion-button color="primary" (click)="showNeonatesOptions()">Neonates</ion-button>
      </ion-row>
      <ion-row>
        <ion-button color="secondary" (click)="showChildrenfromInfants()">Infants</ion-button>
      </ion-row>
      <ion-row>
        <ion-button color="danger" (click)="showfromAdolescents()">Adolescents</ion-button>
      </ion-row>
    </div>
    </ion-grid>
      <div *ngIf="isNeonates">
            <!-- neoenates -->
        <ion-button color="primary" (click)=" showChildrenfromNeonates()">Symptomatic</ion-button>
        <ion-button color="primary" (click)=" showChildrenfromNeonates()">Mastitis</ion-button>
        <ion-button color="primary" (click)=" showChildrenfromNeonates()">Breast bud</ion-button>
        <ion-button color="primary" (click)=" showChildrenfromNeonates()">Breast milk</ion-button>
      </div>

      <div *ngIf="isInfants">
        <ion-button color="primary" (click)=" showChildrenfromInfants()">Symptomatic</ion-button>
      </div>

      <div *ngIf="isAdolescents">
          <ion-button color="danger" (click)=" showChildrenfromAdolescents()">Asymptomatic</ion-button>
          <ion-button color="danger" (click)=" showChildrenfromAdolescents()">Symptomatic</ion-button>
      </div>
      
      <div *ngIf="isAsymptomatic">
        <ion-button color="danger" (click)=" showAsymptomatic()">Defer CBE to after 20yrs if negotiative family history</ion-button>
        <ion-button color="danger" (click)=" showAsymptomatic()">Do CBE if anxious or want to concious</ion-button>
    </div>
</ion-content>
