:host {
        .option-button {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
              
        .first-grad {
            --background: linear-gradient(45deg, #E14A63, #e700ff);
        }

        .pink-grad {
            --background: linear-gradient(45deg,#FF7EB3, #E14A63);
        }

        .orange-grad {
            --background: linear-gradient(45deg,#F6D365, #FA709A);
        }

        .light-blue-grad {
            --background: linear-gradient(#C2E9F9, #4FACFE);
        }
}