<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="signs-symptoms"></ion-back-button>
    </ion-buttons>
    <ion-title >
          <ion-text color="dark" class="fw500"> For children </ion-text>
    </ion-title>
    <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="dark" >
          <img src="assets/img/sound_icon_black.png" >                    
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
</ion-content>
