<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home-results"></ion-back-button>
    </ion-buttons>
    <ion-title >
          <ion-text color="dark" class="fw500"> Making sense of <br> signs and symptoms </ion-text>
    </ion-title>
    <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="dark" >
          <img src="assets/img/sound_icon_black.png" >                    
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
  <ion-content padding>
    <ion-card >
      <ion-card-content id="zone-summary" color="light">
        Medical students, non-specialist doctors and other health practitioners should find useful.
        You can navigate through this and get guidance on what to do in case the scenarios indicated occur.
      </ion-card-content>
    </ion-card>
    <ion-grid >
      <ion-row>
        <ion-col size="" offset="">
            <ion-item (click)="goToWomenSigns()" button="true" >
              <ion-img
                src="assets/button_icons/women.png" >
              </ion-img>
            </ion-item>                  
        </ion-col>
        <ion-col size="" offset="">
          <ion-item (click)="goToMenSigns()" button="true">
              <ion-img
                src="assets/button_icons/men.png" >
              </ion-img>
          </ion-item>                
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="" offset="">
          <ion-item (click)="goToChildrenSigns()" button="true" >
            <ion-img               
              src="assets/button_icons/children.png" >          
            </ion-img>
          </ion-item>
        </ion-col>
        <ion-col size="" offset="">
            <ion-item (click)="goToNonDiagnosed()" button="true" >
              <ion-img               
                src="assets/button_icons/non_diagonised.png" >          
              </ion-img>
            </ion-item>
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>