:host {
    #zone-summary {
        background-color: turquoise;
        color: var(--ion-color-dark);
    }

    ion-item{
        --border-style: 0;
        --border-color: none;
        --inner-border-width: none;
    }
}