<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-profile" text-center padding>
    <img src="assets/img/ionic4start-ico.png">
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong> My Breast Health </strong></ion-text>
      </h1>
      
      <p margin-bottom>
          The purpose of this app is to empower you the great health and wellness. 
          Empower you to take charge of your breast health. To empower you, 
          empower those you love enough to share this platform with.
      </p>
      
      <p>
          It contains simple, easy to understand but critical information to raise 
          awareness about a wide range of your breast issues. Information to help 
          you navigate a health service delivery system for the best medical breast 
          care available in your locality, country and beyond based on your needs, means and preferences.
      </p>

      <p>
          Whereas we have a large focus on breast cancer, we go further on this platform. 
          The scope covers infants, adolescent girls and boys and men. Yes men too need 
          breast health care, as some may develop life threatening breast conditions or 
          conditions that deeply affect their pysche
     </p>

      <p>
          ‘My Breast Health’ shares and guides and spurs you to action. 
          Action to prevent catastrophic events. Action on abnormal breast 
          anatomy, pain, infections, aesthetics and more. 
          This platform allows you to ask questions and contribute to its improvement.
      </p>

      <p>
          This platform is a community of a multitude of users, 
          seeking to preserve the health and enhance wellness for themselves and those they care about.
      </p>

    </ion-card-content>
  </ion-card>

</ion-content>
