:host {
    ion-content {
        --background: #f5f6f9;
    }
// log in button text 
    .logbtn {
        text-transform: capitalize;
        border-radius: 0.8rem;
       
      
     }
     ion-label{
         color: var(--ion-color-dark);
     }

    
}
.logged{
    font-size: 12px;
    line-height: 15px;
}

.paz {
    position: relative;
    z-index: 10;
    font-size: 13px;
}
//log in button div
.login{
    margin-top: 1rem;
     
    
   }
.eyz{
    margin-top: 2rem;
}

.phone{
    margin-top: 10px;
}
.logofacebook{
    border-radius: 0.4rem;
}