<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
    <div>
      <div class="logo"></div>
      <h6 text-center>
        <ion-text color="dark" class="fw700">
          Log In
        </ion-text>
      </h6>
    </div>
    <div>
      <ion-text class="logged" color="dark">
        Once you're logged in, we'll personalize 
        what you see in your app based on your preferences.
      </ion-text>
    </div>

    <!-- Login form -->
    <form [formGroup]="onLoginForm" class="list-form">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label color="dark"  position="floating">
          <!--<ion-icon name="" item-start></ion-icon>-->
          Email Or Phone
        </ion-label>
        <ion-input color="primary" type="email" formControlName="email"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onLoginForm.get('email').touched && onLoginForm.get('email').hasError('required')">
        <ion-text color="warning">
          Required Field
        </ion-text>
      </p>

      <!--<div text-center class="phone">
        <ion-text color="dark">
          Or
        </ion-text>
        </div> -->
       

     <!--<ion-item no-padding class="animated fadeInUp" >
        <ion-label color="dark" position="floating">
          <ion-icon name="call" item-start></ion-icon>
          Phone
        </ion-label>
        <ion-input color="primary" type="phone" formControlName="phone"></ion-input>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="onLoginForm.get('email').touched && onLoginForm.get('email').hasError('required')">
        <ion-text color="warning">
          Required Field
        </ion-text>
      </p> -->

      <ion-item no-padding class="animated fadeInUp">
        <ion-label color="dark" position="floating">
          <!--<ion-icon name="" item-start></ion-icon>-->
          Password
          
        </ion-label>
        <div slot="end">
          <ion-icon class="eyz" color="dark" name="eye"></ion-icon>
        </div>
        <ion-input color="primary" type="password" formControlName="password"></ion-input>
      </ion-item>
      <p ion-text color="warning" class="text08" *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">
        <ion-text color="warning">
          Required Field
        </ion-text>
        </p>
    </form>


     <div class="login">
          <ion-button class="logbtn" icon-left size="medium" expand="block" color="primary"
    
            (click)="goToHome()"
            [disabled]="!onLoginForm.valid" tappable>
            Log in
          </ion-button>
    </div>

    <p text-center tappable (click)="forgotPass()" class="paz">
      <ion-text color="dark">
        Forgot password?
      </ion-text>
    </p>

    <div>
      

      <p text-center>
        <ion-text color="dark">
          Or Sign in with:
        </ion-text>
      </p>

      <ion-grid class="btn-group">
        <ion-row>
          <ion-col size="4">
            <ion-button shape="round" expand="full" color="primary">
              <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round" expand="full" color="primary">
              <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round" expand="full" color="primary">
              <ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

    <!-- Other links -->
    <div text-center margin-top>
      <span (click)="goToRegister()" class="paz" tappable>
        <ion-text color="light">
          New here? <strong>Sign Up</strong>
        </ion-text>
      </span>
    </div>

  </div>
</ion-content>