<ion-header>
  <ion-toolbar color="medium" >
    <ion-title> Tips </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card class="content-card home-content">
        <ion-card-content>
          <ion-grid >
            <ion-row>
                  <ion-col size="" offset="1">
                      <div class="dashboard-div">
                        <p class="center-text">
                            Breast <br>
                            Cancer                  
                        </p>
                      </div>
                      <ion-button size="" shape="" fill="clear" color="tertiary" class="dashboard-button" (click)="goToBreastCancerTips()" >
                          <img src="assets/img/handtouch_blue32.png" >
                      </ion-button>
                  </ion-col>
            
                  <ion-col size="" offset="2">
                      <div class="dashboard-div">
                        <p class="center-text">
                        Nipples
                        </p>
                      </div>
                      <ion-button size="" shape="" fill="clear" color="tertiary" class="dashboard-button" (click)="goToNippleTips()" >
                          <img src="assets/img/handtouch_blue32.png" >
                      </ion-button>
                  </ion-col>
            </ion-row>
          </ion-grid >
        </ion-card-content>
    </ion-card>
            
</ion-content>
