
:host {

        ion-item{
            --border-style: 0;
            --border-color: none;
            --inner-border-width: none;
        }

        .content-card{
            background: transparent;
            box-shadow: none;
        }

        .center-text {
            text-align: center;
        }
        .tipscolor {
            
            --background: linear-gradient(#f0e7e7, rgba(182, 120, 161, 0.9)) !important;
        }
        
}

