<ion-header>
  <ion-toolbar color="medium" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home-results"></ion-back-button>
    </ion-buttons>
    <ion-title> Tips </ion-title>
    <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="dark" >
          <img src="assets/img/sound_icon_black.png" >                    
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-card class="content-card home-content">
        <ion-card-content>
          <ion-grid >
            <ion-row>
                  <ion-col size="" offset="2">

                    <ion-ripple-effect></ion-ripple-effect>
                      <img src="assets/img/breasthealth_fbc_button.png" height="160" width="" (click)="goToBreastCancerTips()"  >
                  </ion-col>
            </ion-row>
            <ion-row>
                  <ion-col size="" offset="2">
                    <ion-ripple-effect></ion-ripple-effect>
                      <img src="assets/img/breasthealth_fornipples_button.png" height="160" (click)="goToNippleTips()" >
                  </ion-col>
            </ion-row>
          </ion-grid >
        </ion-card-content>
    </ion-card>
            
</ion-content>
