<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="signs-symptoms"></ion-back-button>
    </ion-buttons>
    <ion-title >
          <ion-text color="dark" class="fw500"> For men </ion-text>
    </ion-title>
    <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="dark" >
          <img src="assets/img/sound_icon_black.png" >                    
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <div *ngIf="isMen" > 
          <ion-row>
            <ion-button class="Symptonat" color="primary" (click)="showSymptomatic()">Symptomatic</ion-button>
          </ion-row>
          <ion-row>
            <ion-button  class="Asymptomat" color="secondary" (click)="showAsymptomatic()">Asymptomatic</ion-button>
          </ion-row>
        </div>
        
        
        <div *ngIf="isSymptomatic"> 
              <ion-row>
                <ion-button color="primary" (click)="showLump()">Lump</ion-button>
              </ion-row>
              <ion-row>
                <ion-button color="secondary" (click)="showNotLump()">Non Lump</ion-button>
              </ion-row>
        </div>
  
      <div *ngIf="isLump"> 
          <ion-row>
            <ion-button color="primary" (click)="showDiscrete()">Discrete</ion-button>
          </ion-row>
          <ion-row>
            <ion-button color="secondary" (click)="showDiffuse()">Diffuse</ion-button>
          </ion-row>
    </div>

    <div *ngIf="isDiscrete"> 
      <ion-row>
        <ion-button color="primary" (click)="showUSScan()">US Scan</ion-button>
      </ion-row>
    </div>

    <div *ngIf="isUSScan"> 
        <ion-row>
          <ion-button color="primary" (click)="showPositiveCancer()">Positive Cancer</ion-button>
        </ion-row>
        <ion-row>
            <ion-button color="primary" (click)="showNegativeCancer()">Negative Cancer</ion-button>
          </ion-row>
      </div>

      <div *ngIf="isPositiveCancer"> 
          <ion-row>
            <ion-button color="primary" (click)="showStaging()">Staging</ion-button>
          </ion-row>
      </div>
      <div *ngIf="isNegativeCancer">             
          <ion-row>
              <ion-button color="primary" (click)="showFollowUp()"> Follow Up 6 to 12Months </ion-button>
            </ion-row>
        </div>

        <div *ngIf="isStaging"> 
            <ion-row>
              <ion-button color="primary" (click)="showCare()">Care</ion-button>
            </ion-row>
          </div>

    <div *ngIf="isNotLump"> 
      <ion-row>
        <ion-button color="primary" >Nipple Issues</ion-button>
      </ion-row>
      <ion-row>
        <ion-button color="secondary" >Small</ion-button>
      </ion-row>
      <ion-row>
        <ion-button color="primary" >Oversized</ion-button>
      </ion-row>
      <ion-row>
        <ion-button color="secondary" (click)="showPain()">Pain</ion-button>
      </ion-row>
      <ion-row>
        <ion-button color="secondary" >Asymetry</ion-button>
      </ion-row>
    </div>

    <div *ngIf="isPain"> 
      <ion-row>
        <ion-button color="primary" (click)="showPainUSScan()">US Scan</ion-button>
      </ion-row>
    </div>
  
    <div *ngIf="isPainUSScan"> 
        <ion-row>
          <ion-button color="primary" (click)="showPositivePainUSScan()">Positive </ion-button>
        </ion-row>
        <ion-row>
            <ion-button color="primary" >Negative </ion-button>
          </ion-row>
      </div>

      <div *ngIf="isPositivePainUSScan"> 
          <ion-row>
            <ion-button color="primary" >Follow recommendation </ion-button>
          </ion-row>
      </div>
          
       <!-- <div *ngIf="isUSScan2"> 
          <ion-row>
            <ion-button color="primary" (click)="showPositve()">Positive</ion-button>
          </ion-row>
          <ion-row>
              <ion-button color="primary" (click)="showUSScan2()">Negative</ion-button>
            </ion-row>
        </div> -->
    
              <div *ngIf="isDiffuse"> 
                <ion-row>
                  <ion-button color="primary" (click)="showUSScan2()">US Scan</ion-button>
                </ion-row>
              </div>
    
              <div *ngIf="isUSScan2"> 
                <ion-row>
                  <ion-button color="primary" (click)="showPositivePainUSScan2()">Positive</ion-button>
                </ion-row>
                <ion-row>
                    <ion-button color="primary" >Negative</ion-button>
                  </ion-row>
              </div>
    
              <div *ngIf="isHyperplasia"> 
                <ion-row>
                  <ion-button color="primary" (click)="showFromHyperplasia()">Hyperplasia</ion-button>
                </ion-row>
              </div>

              <div *ngIf="isSubCuteMastectomy"> 
                <ion-row>
                  <ion-button color="primary" >Sub cute mastectomy</ion-button>
                </ion-row>
              </div>

              <div *ngIf="isAsymptomatic"> 
                <ion-row>
                  <ion-button color="primary" (click)="showScreened()">Screened</ion-button>
                </ion-row>
                <ion-row>
                  <ion-button color="primary" (click)="showNotScreened()">Not Screened</ion-button>
                </ion-row>
              </div>

              <div *ngIf="isScreened"> 
          <ion-row>
            <ion-button color="primary">Positive</ion-button>
          </ion-row>
          <ion-row>
              <ion-button color="primary">Negative</ion-button>
            </ion-row>
        </div>

        <div *ngIf="isNotScreened"> 
          <ion-row>
            <ion-button color="primary" (click)="showCBE()">CBE</ion-button>
          </ion-row>
        </div>

        <div *ngIf="isFromCBE"> 
          <ion-row>
            <ion-button color="primary" (click)="showCBEPositve()">Positive</ion-button>
          </ion-row>
          <ion-row>
              <ion-button color="primary" >Negative</ion-button>
            </ion-row>
        </div>

        <div *ngIf="isCBEPositve"> 
          <ion-row>
            <ion-button color="primary" >US Scan</ion-button>
          </ion-row>
        </div>

    </ion-grid>

</ion-content>
