<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="signs-symptoms"></ion-back-button>
    </ion-buttons>
    <ion-title >
          <ion-text color="dark" class="fw500"> For women  </ion-text>
    </ion-title>
    <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="dark" >
          <img src="assets/img/sound_icon_black.png" >                    
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding> 
  <ion-card *ngIf="isWomen" class="orange-grad"> 
    <ion-card-header>
      <ion-card-title>Is she </ion-card-title>
    </ion-card-header> 
    <ion-card-content>
      <ion-row>
        <ion-button class="Symptonat" color="primary" (click)="showSymptomatic()">Symptomatic</ion-button>
      </ion-row>
      <ion-row>
        <ion-button class="Symptonat" color="secondary" (click)="showAsymptomatic()">Asymptomatic</ion-button>
      </ion-row>
    </ion-card-content>    
  </ion-card>
    
  <!-- Symptomatic branch-->
  <ion-card *ngIf="isSymptomatic" class="orange-grad">
    <ion-card-header>
      <ion-card-title>Is she</ion-card-title>
    </ion-card-header> 
    <ion-card-content>
      <ion-row>
        <ion-button class="Symptonat"  color="primary" (click)="showsLump()">Lump</ion-button>
      </ion-row>
      <ion-row>      
        <ion-button class="Symptonat"  color="secondary" (click)="showsNotLump()">No Lump</ion-button>
      </ion-row>
      <ion-button color="danger" class="option-button" (click)="backFromSymptomatic()">Back</ion-button>         
    </ion-card-content>          
  </ion-card>

  <ion-card *ngIf="isLump" class="orange-grad">
    <ion-card-header>
      <ion-card-title>Is she </ion-card-title>
    </ion-card-header> 
    <ion-card-content>
      <ion-row>
        <ion-button color="primary" class="Symptonat" (click)="showsisLumpTreated()">Diagonosed</ion-button>
      </ion-row>
      <ion-row>    
        <ion-button color="secondary" class="Symptonat" >Not Diagonosed</ion-button>
      </ion-row>    
      <ion-button color="danger" class="option-button" (click)="backToLump()">Back</ion-button>      
    </ion-card-content>    
  </ion-card>

  <ion-card *ngIf="isLumpTreated" class="orange-grad">
    <ion-card-header>
      <ion-card-title>Is she </ion-card-title>
    </ion-card-header> 
    <ion-card-content>
      <ion-row>
        <ion-button color="primary" class="Symptonat" (click)="showsisExcisedLump()">Treated</ion-button>
      </ion-row>
      <ion-row>      
        <ion-button color="secondary" class="Symptonat" (click)="showsisLumpNotTreated()">Not Treated</ion-button>
      </ion-row>
      <ion-button color="danger" class="option-button" (click)="backToDiagonosedFromLump()">Back</ion-button>      
    </ion-card-content>    
  </ion-card>

  <ion-card *ngIf="isExcisedLump" class="orange-grad">
    <ion-card-header>
      <ion-card-title>Does she have an</ion-card-title>
    </ion-card-header> 
    <ion-card-content>
      <ion-row>
      <ion-button color="primary" (click)="showsFromExcisedLump()">Excised Lump</ion-button>
      </ion-row>
      <ion-button color="danger" class="option-button" (click)="backToTreatedFromExcisedLump()">Back</ion-button>      
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="isFromExcisedLump" class="orange-grad">
    <ion-button color="primary" (click)="showsFromBenign()">Benign </ion-button>
    <ion-button color="primary" (click)="showsFromExcisedLumpCancer()">Cancer</ion-button>
  </ion-card>

  <ion-card *ngIf="isExcisedLumpHealed" class="orange-grad">
    <ion-button color="primary" (click)="showsFromHealedCompletely()">Healed completely </ion-button>
    <ion-button color="primary" (click)="showsFromHealedNotCompletely()">Not healed completely</ion-button>
  </ion-card>

  <ion-card *ngIf="isHealedCompletely" class="orange-grad">
    <ion-button color="primary" >6-12 months reviews</ion-button>
  </ion-card>

  <ion-card *ngIf="isNotHealedCompletely" class="orange-grad">
    <ion-button color="primary" (click)="showsFromScarPain()">Scar pain </ion-button>
    <ion-button color="primary" (click)="showsFromFeelLumps()">Feel lumps </ion-button>
  </ion-card>

  <ion-card *ngIf="isFromScarPain" class="orange-grad">
    <ion-button color="primary" >Keloids</ion-button>
    <ion-button color="primary" >Hypertrophic</ion-button>
  </ion-card>

  <ion-card *ngIf="isFromFeelLumps" class="orange-grad">
    <ion-button color="primary" >CBE</ion-button>
    <ion-button color="primary" >US Scan </ion-button>
    <ion-button color="primary" >Wait and see </ion-button>
  </ion-card>

  <ion-card *ngIf="isFromExcisedLumpCancer" class="orange-grad">
    <ion-button color="primary" (click)="showsfromMultiMedicalCare()">Multi medical care</ion-button>
  </ion-card>

  <ion-card *ngIf="isFromMultiMedicalCare" class="orange-grad">
    <ion-button color="primary" (click)="showsfromCompletedCare()">Completed care</ion-button>
    <ion-button color="primary" >Incomplete care</ion-button>
  </ion-card>

  <ion-card *ngIf="isFromCompletedCare" class="orange-grad">
    <ion-button color="primary">Review</ion-button>
  </ion-card>

  <ion-card *ngIf="isLumpNotTreated" class="orange-grad">
    <ion-button color="primary" >Cancer</ion-button>
    <ion-button color="primary" >No cancer</ion-button>
  </ion-card>

  <ion-card *ngIf="isNoLump" class="orange-grad">
    <ion-button color="primary" (click)="showsfromisNoLump()">Diagonosed</ion-button>
    <ion-button color="primary" (click)="showsfromisNotDiagonosedLump()">Not Diagonosed</ion-button>
  </ion-card>
  
  <ion-card *ngIf="isNoLumpTreated" class="orange-grad">
    <ion-button color="primary" >Treated</ion-button>
    <ion-button color="primary" >Not Treated</ion-button>
  </ion-card>

  <ion-card *ngIf="isNotDiagonosedLump" class="orange-grad">
    <ion-button color="primary" (click)="showsfromPremenopausal()">Premenopausal</ion-button>
    <ion-button color="primary" (click)="showsfromPostmenopausal()">Postmenopausal</ion-button>
  </ion-card>

  <ion-card *ngIf="isFromPostmenopausal" class="orange-grad">
    <ion-button color="primary" (click)="showsfromNeverDoneMammo()">Never done mammo</ion-button>
    <ion-button color="primary" (click)="showsfromEverDoneMammo()">Ever done mammo</ion-button>
  </ion-card>

  <ion-card *ngIf="isFromNeverDoneMammo" class="orange-grad">
    <ion-button color="primary" (click)="showsfromNeverDoneMammoDo()">Do mammo</ion-button>
  </ion-card>

  <ion-card *ngIf="isFromNeverDoneMammoDo" class="orange-grad">
    <ion-button color="primary" >Positive</ion-button>
    <ion-button color="primary" >Negative</ion-button>
  </ion-card>

  <ion-card *ngIf="isFromEverDoneMammoDo" class="orange-grad">
    <ion-button color="primary" (click)="showsfromLessthan1Year()">Less than 1 year</ion-button>
    <ion-button color="primary" (click)="showsfromGreaterthan1Year()">Greater than 1 year</ion-button>
  </ion-card>

  <ion-card *ngIf="isFromLessthan1Year" class="orange-grad">
    <ion-button color="primary" (click)="showsfromPositiveForMass()">Positive for mass</ion-button>
    <ion-button color="primary" (click)="showsfromNegativeForMass()">Negative for mass</ion-button>
  </ion-card>

  <ion-card *ngIf="IsFromPositiveForMass" class="orange-grad">
    <ion-button color="primary" >FNAC</ion-button>
  </ion-card>

  <ion-card *ngIf="isFromNegativeForMass" class="orange-grad">
    <ion-button color="primary" >US Scan</ion-button>
  </ion-card>

  <ion-card *ngIf="isFromGreaterthan1Year" class="orange-grad">
    <ion-button color="primary" >Do mammo</ion-button>
  </ion-card>

  <ion-card *ngIf="isFromPremenopausal" class="orange-grad">
    <ion-button color="primary" (click)="showsfrom3050()">30 – 50</ion-button>
    <ion-button color="primary" (click)="showsfromlessThan30()">Less than 30</ion-button>
  </ion-card>

  <ion-card *ngIf="isFrom3050" class="orange-grad">
    <ion-button color="primary" >Positive</ion-button>
    <ion-button color="primary" (click)="showsfrom3050Negative()">Negative</ion-button>
  </ion-card>

  <ion-card *ngIf="isFrom3050Negative" class="orange-grad">
    <ion-button color="primary" (click)="showsfrom3050NegativeSurgery()">Surgery</ion-button>
    <ion-button color="primary" >Wait and see</ion-button>
  </ion-card>

  <ion-card *ngIf="isFrom3050NegativeSurgery" class="orange-grad">
    <ion-button color="primary" >Histology </ion-button>
  </ion-card>

  <ion-card *ngIf="isFromLessThan30" class="orange-grad">
    <ion-button color="primary" (click)="showsfromLessthan30UsScan()">US Scan </ion-button>
  </ion-card>

  <ion-card *ngIf="isFromLessThan30UsScan" class="orange-grad">
    <ion-button color="primary" (click)="showsfromLikelyCancer()">Positive</ion-button>
    <ion-button color="primary" (click)="showsfromLessThan30UsScanNegative()">Negative</ion-button>
  </ion-card>

  <ion-card *ngIf="isFromLessThan30UsScanNegative" class="orange-grad">
    <ion-button color="primary" (click)="showsfromLessThan30UsScanNegativeRepeat()">Repeat in 3 months</ion-button>
  </ion-card>

  <ion-card *ngIf="isFromRepeat3Months" class="orange-grad">
    <ion-button color="primary" >Second Opinion </ion-button>
  </ion-card>

  <ion-card *ngIf="isLikelyCancer" class="orange-grad">
    <ion-button color="primary" >Likely cancer</ion-button>
    <ion-button color="primary" (click)="showsfromUnlikelyCancer()">Unlikely cancer</ion-button>
  </ion-card>

  <ion-card *ngIf="isFromUnlikelyCancer" class="orange-grad">
    <ion-button color="primary" (click)="showsfromGreaterthan4cm()">Greater than 4cm </ion-button>
    <ion-button color="primary" (click)="showsfromLessthan4cm()">Less than 4cm</ion-button>
  </ion-card>

  <ion-card *ngIf="isFromGreaterthan4cm" class="orange-grad">
    <ion-button color="primary" (click)="showsfromRemoveMass()">Remove mass </ion-button>
  </ion-card>

  <ion-card *ngIf="isFromRemoveMass" class="orange-grad">
    <ion-button color="primary" (click)="showsfromRemoveMassHistology()">Histology </ion-button>
  </ion-card>

  <ion-card *ngIf="isFromRemoveMassHistology" class="orange-grad">
    <ion-button color="primary" >Cancer </ion-button>
    <ion-button color="primary" >Benign</ion-button>
  </ion-card>

  <ion-card *ngIf="isFromLessthan4cm" class="orange-grad">
    <ion-button color="primary" >Repeat scan in 6 months</ion-button>
  </ion-card>

  <!-- Symptomatic branch-->
  <ion-card *ngIf="isAsymptomatic" class="orange-grad">
    <ion-button color="primary" >Screened</ion-button>
    <ion-button color="primary" (click)="showfromNotScreened()">Not Screened</ion-button>
  </ion-card>

  <ion-card *ngIf="isNotScreened" class="orange-grad">
    <ion-button color="primary" (click)="showfromCBE()">CBE</ion-button>
    <ion-button color="primary" (click)="showfromSBE()">SBE</ion-button>
  </ion-card>

  <ion-card *ngIf="isCBE" class="orange-grad">
    <ion-button color="primary" (click)="showEnd(1)"> Positive</ion-button>
    <ion-button color="primary" (click)="showEnd(1)">Negative</ion-button>
    <ion-button color="primary" (click)="showEnd(1)">Equivocal</ion-button>
  </ion-card>

  <ion-card *ngIf="isSBE" class="orange-grad">
    <ion-button color="primary" (click)="showEnd(2)">Positive</ion-button>
    <ion-button color="primary" (click)="showEnd(2)">Negative</ion-button>
  </ion-card>

  <ion-card *ngIf="isEnd" class="orange-grad">
    End of flow
    <ion-button color="primary" (click)="showStart()">Back to start</ion-button>
  </ion-card>

</ion-content>
