<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="signs-symptoms"></ion-back-button>
    </ion-buttons>
    <ion-title >
          <ion-text color="dark" class="fw500"> For women  </ion-text>
    </ion-title>
    <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="dark" >
          <img src="assets/img/sound_icon_black.png" >                    
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding> 
  <div *ngIf="isWomen" > 
    <ion-row>
      <ion-button class="Sympto" color="primary" (click)="showSymptomatic()">Symptomatic</ion-button>
    </ion-row>

    <ion-row>
      <ion-button class="Asympto"color="secondary" (click)="showAsymptomatic()">Asymptomatic</ion-button>
    </ion-row>
  </div>
    
  <!-- Symptomatic branch-->
  <div *ngIf="isSymptomatic">
      <ion-button  class="lump" color="primary" (click)="showsLump()">Lump</ion-button>
      <ion-button  class="NoLump" color="primary" (click)="showsNotLump()">No Lump</ion-button>
  </div>

  <div *ngIf="isLump">
    <ion-button color="primary" (click)="showsisLumpTreated()">Diagonosed</ion-button>
    <ion-button color="primary" >Not Diagonosed</ion-button>
  </div>

  <div *ngIf="isLumpTreated">
    <ion-button color="primary" (click)="showsisExcisedLump()">Treated</ion-button>
    <ion-button color="primary" (click)="showsisLumpNotTreated()">Not Treated</ion-button>
  </div>

  <div *ngIf="isExcisedLump">
    <ion-button color="primary" (click)="showsFromExcisedLump()">Excised Lump</ion-button>
  </div>

  <div *ngIf="isFromExcisedLump">
    <ion-button color="primary" (click)="showsFromBenign()">Benign </ion-button>
    <ion-button color="primary" (click)="showsFromExcisedLumpCancer()">Cancer</ion-button>
  </div>

  <div *ngIf="isExcisedLumpHealed">
    <ion-button color="primary" (click)="showsFromHealedCompletely()">Healed completely </ion-button>
    <ion-button color="primary" (click)="showsFromHealedNotCompletely()">Not healed completely</ion-button>
  </div>

  <div *ngIf="isHealedCompletely">
    <ion-button color="primary" >6-12 months reviews</ion-button>
  </div>

  <div *ngIf="isNotHealedCompletely">
    <ion-button color="primary" (click)="showsFromScarPain()">Scar pain </ion-button>
    <ion-button color="primary" (click)="showsFromFeelLumps()">Feel lumps </ion-button>
  </div>

  <div *ngIf="isFromScarPain">
    <ion-button color="primary" >Keloids</ion-button>
    <ion-button color="primary" >Hypertrophic</ion-button>
  </div>

  <div *ngIf="isFromFeelLumps">
    <ion-button color="primary" >CBE</ion-button>
    <ion-button color="primary" >US Scan </ion-button>
    <ion-button color="primary" >Wait and see </ion-button>
  </div>

  <div *ngIf="isFromExcisedLumpCancer">
    <ion-button color="primary" (click)="showsfromMultiMedicalCare()">Multi medical care</ion-button>
  </div>

  <div *ngIf="isFromMultiMedicalCare">
    <ion-button color="primary" (click)="showsfromCompletedCare()">Completed care</ion-button>
    <ion-button color="primary" >Incomplete care</ion-button>
  </div>

  <div *ngIf="isFromCompletedCare">
    <ion-button color="primary">Review</ion-button>
  </div>

  <div *ngIf="isLumpNotTreated">
    <ion-button color="primary" >Cancer</ion-button>
    <ion-button color="primary" >No cancer</ion-button>
  </div>

  <div *ngIf="isNoLump">
    <ion-button color="primary" (click)="showsfromisNoLump()">Diagonosed</ion-button>
    <ion-button color="primary" (click)="showsfromisNotDiagonosedLump()">Not Diagonosed</ion-button>
  </div>
  
  <div *ngIf="isNoLumpTreated">
    <ion-button color="primary" >Treated</ion-button>
    <ion-button color="primary" >Not Treated</ion-button>
  </div>

  <div *ngIf="isNotDiagonosedLump">
    <ion-button color="primary" (click)="showsfromPremenopausal()">Premenopausal</ion-button>
    <ion-button color="primary" (click)="showsfromPostmenopausal()">Postmenopausal</ion-button>
  </div>

  <div *ngIf="isFromPostmenopausal">
    <ion-button color="primary" (click)="showsfromNeverDoneMammo()">Never done mammo</ion-button>
    <ion-button color="primary" (click)="showsfromEverDoneMammo()">Ever done mammo</ion-button>
  </div>

  <div *ngIf="isFromNeverDoneMammo">
    <ion-button color="primary" (click)="showsfromNeverDoneMammoDo()">Do mammo</ion-button>
  </div>

  <div *ngIf="isFromNeverDoneMammoDo">
    <ion-button color="primary" >Positive</ion-button>
    <ion-button color="primary" >Negative</ion-button>
  </div>

  <div *ngIf="isFromEverDoneMammoDo">
    <ion-button color="primary" (click)="showsfromLessthan1Year()">Less than 1 year</ion-button>
    <ion-button color="primary" (click)="showsfromGreaterthan1Year()">Greater than 1 year</ion-button>
  </div>

  <div *ngIf="isFromLessthan1Year">
    <ion-button color="primary" (click)="showsfromPositiveForMass()">Positive for mass</ion-button>
    <ion-button color="primary" (click)="showsfromNegativeForMass()">Negative for mass</ion-button>
  </div>

  <div *ngIf="IsFromPositiveForMass">
    <ion-button color="primary" >FNAC</ion-button>
  </div>

  <div *ngIf="isFromNegativeForMass">
    <ion-button color="primary" >US Scan</ion-button>
  </div>

  <div *ngIf="isFromGreaterthan1Year">
    <ion-button color="primary" >Do mammo</ion-button>
  </div>

  <div *ngIf="isFromPremenopausal">
    <ion-button color="primary" (click)="showsfrom3050()">30 – 50</ion-button>
    <ion-button color="primary" (click)="showsfromlessThan30()">Less than 30</ion-button>
  </div>

  <div *ngIf="isFrom3050">
    <ion-button color="primary" >Positive</ion-button>
    <ion-button color="primary" (click)="showsfrom3050Negative()">Negative</ion-button>
  </div>

  <div *ngIf="isFrom3050Negative">
    <ion-button color="primary" (click)="showsfrom3050NegativeSurgery()">Surgery</ion-button>
    <ion-button color="primary" >Wait and see</ion-button>
  </div>

  <div *ngIf="isFrom3050NegativeSurgery">
    <ion-button color="primary" >Histology </ion-button>
  </div>

  <div *ngIf="isFromLessThan30">
    <ion-button color="primary" (click)="showsfromLessthan30UsScan()">US Scan </ion-button>
  </div>

  <div *ngIf="isFromLessThan30UsScan">
    <ion-button color="primary" (click)="showsfromLikelyCancer()">Positive</ion-button>
    <ion-button color="primary" (click)="showsfromLessThan30UsScanNegative()">Negative</ion-button>
  </div>

  <div *ngIf="isFromLessThan30UsScanNegative">
    <ion-button color="primary" (click)="showsfromLessThan30UsScanNegativeRepeat()">Repeat in 3 months</ion-button>
  </div>

  <div *ngIf="isFromRepeat3Months">
    <ion-button color="primary" >Second Opinion </ion-button>
  </div>

  <div *ngIf="isLikelyCancer">
    <ion-button color="primary" >Likely cancer</ion-button>
    <ion-button color="primary" (click)="showsfromUnlikelyCancer()">Unlikely cancer</ion-button>
  </div>

  <div *ngIf="isFromUnlikelyCancer">
    <ion-button color="primary" (click)="showsfromGreaterthan4cm()">Greater than 4cm </ion-button>
    <ion-button color="primary" (click)="showsfromLessthan4cm()">Less than 4cm</ion-button>
  </div>

  <div *ngIf="isFromGreaterthan4cm">
    <ion-button color="primary" (click)="showsfromRemoveMass()">Remove mass </ion-button>
  </div>

  <div *ngIf="isFromRemoveMass">
    <ion-button color="primary" (click)="showsfromRemoveMassHistology()">Histology </ion-button>
  </div>

  <div *ngIf="isFromRemoveMassHistology">
    <ion-button color="primary" >Cancer </ion-button>
    <ion-button color="primary" >Benign</ion-button>
  </div>

  <div *ngIf="isFromLessthan4cm">
    <ion-button color="primary" >Repeat scan in 6 months</ion-button>
  </div>

  <!-- Symptomatic branch-->
  <div *ngIf="isAsymptomatic">
    <ion-button color="primary" >Screened</ion-button>
    <ion-button color="primary" (click)="showfromNotScreened()">Not Screened</ion-button>
  </div>

  <div *ngIf="isNotScreened">
    <ion-button color="primary" (click)="showfromCBE()">CBE</ion-button>
    <ion-button color="primary" (click)="showfromSBE()">SBE</ion-button>
  </div>

  <div *ngIf="isCBE">
    <ion-button color="primary" (click)="showEnd(1)"> Positive</ion-button>
    <ion-button color="primary" (click)="showEnd(1)">Negative</ion-button>
    <ion-button color="primary" (click)="showEnd(1)">Equivocal</ion-button>
  </div>

  <div *ngIf="isSBE">
    <ion-button color="primary" (click)="showEnd(2)">Positive</ion-button>
    <ion-button color="primary" (click)="showEnd(2)">Negative</ion-button>
  </div>

  <ion-card *ngIf="isEnd">
    End of flow
    <ion-button color="primary" (click)="showStart()">Back to start</ion-button>
  </ion-card>

</ion-content>
