<ion-header>
  <ion-toolbar color="medium" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tips"></ion-back-button>
    </ion-buttons>
    <ion-title class="center-text"> Breast cancer tips</ion-title>
    <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="dark" >
          <img src="assets/img/sound_icon_black.png" >                    
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
        <ion-slides pager="true" class="slides">  
       <ion-slide class="slide">
         <div>
              <h5 class="color">Tip 1: some title here....</h5>
              <div class="content">
                 <p>
                 Breast Cancer in sub Saharan Africa is on the rise though it is not as common as it is in developed countries The reasons for this scenario are many;
                 they include low awareness, late stage with which women come to hospital, failure to access care.
              </p>
              <ion-avatar class="avatar">
              <ion-img src="assets/backgrounds/bg (59).jpg" alt="breast cancer tips" class=""></ion-img>
              </ion-avatar>
              </div>
            </div>
          </ion-slide>

          <ion-slide class="slide">
            <div>
              <h5 class="color">Tip 2: some title here.....</h5>
              <div class="content">
              <p>
                Breast Cancer, especially in early stages causes no pain, it flies below radar. Absence of pain is construed as being
                well, absence of pain does not necessarily mean all is well and the presence of pain does not necessarily mean doom
                either.
              </p>
              <ion-avatar class="avatar">
              <ion-img src="assets/backgrounds/bg (57).jpg" alt="breast cancer tips" class=""></ion-img>
              </ion-avatar>
              </div>
            </div>
          </ion-slide>

          <ion-slide class="slide">
           <div>
             <h5 class="color">Tip 3: some title here.....</h5>
             <div class="content">
             <p>
                 The safest way to play is to opt for regular checks at three levels: <br>Level 1 - self-check, <br>Level 2 - Be
                 checked by a trained
                 practitioner, <br> Level 3 - Use Imaging as recommended by a health worker, these include a breast
                 ultrasound scan or a mammogram.
             </p>
             <ion-avatar class="avatar3">
            <ion-img src="assets/backgrounds/bg (58).jpg" alt="breast cancer tips" class=""></ion-img>
            </ion-avatar>
             </div>
           </div>
          </ion-slide>
        </ion-slides>


   </ion-content>
