<ion-header>
  <ion-toolbar color="medium" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tips"></ion-back-button>
    </ion-buttons>
    <ion-title class="center-text"> Breast cancer tips</ion-title>
    <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="dark" >
          <img src="assets/img/sound_icon_black.png" >                    
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content padding>
<ion-card class="main-card">
  <ion-img src="assets/backgrounds/bg (14).jpg" alt="Breast cancer tip"></ion-img>
  <ion-card-header>
    <ion-card-title color="light">
       <h5 margin-bottom>Breast Cancer</h5>
    </ion-card-title>
    <ion-card-subtitle  color="light">
     <p margin-bottom> 
          Breast Cancer in sub Saharan Africa is on the rise though it is not as common as it is in developed countries. In developing
          countries, the chances of dying from it is much more than in developed countries. The reasons for this scenario are many;
          they include low awareness, late stage with which women come to hospital, failure to access care.
      </p>
     <p>
          Breast Cancer, especially in early stages causes no pain, it flies below radar. Absence of pain is construed as being well,
          absence of pain does not necessarily mean all is well and the presence of pain does not necessarily mean doom either. The
          safest way to play is to opt for regular checks at three levels: Level 1 - self-check, Level 2 - Be checked by a trained
          practitioner, Level 3 - Use Imaging as recommended by a health worker, these include a breast ultrasound scan or a mammogram.
    </p>
    </ion-card-subtitle>
  </ion-card-header>
</ion-card>
</ion-content>
