:host {
        .center-text{
            text-align: center;
            margin-top: 1rem;
        }

        .main-card{
            --background: var(--ion-color-primary-tint);
        }
    .button-tips{
        margin-left: 2.5px;
        margin-right: 2.5px;
        margin-top: 20px;
        display: block;
    }
    .text-tips{
        font-size: 12px;
        margin-left: 8px;
        
    }
}