<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home-results"></ion-back-button>
    </ion-buttons>
    <ion-title >
          <ion-text color="dark" class="fw500"> Upload medical records </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="dark" >
        <img src="assets/img/sound_icon_black.png" >                    
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="tipscolor" padding>
  <ion-button class="Symptonat" color="primary" (click)="selectImage()">
    <ion-icon name="photos"></ion-icon>     
    Select document
  </ion-button>
  <ion-card class="main-card">
    <ion-card-content *ngIf="document_selected">
      <ion-img [src]="document_selected"> </ion-img>
      <ion-button color="danger" (click)="resetDocument()">
          <ion-icon name="photos"></ion-icon>     
          Delete document
        </ion-button>
    </ion-card-content>
    <ion-card-content *ngIf="!document_selected" color="danger">
      No document uploaded yet
    </ion-card-content>
  </ion-card>
</ion-content>
